[submodule "ardrone-webflight"]
	path = src/ardrone-webflight
	url = https://github.com/eschnou/ardrone-webflight
[submodule "webflight-gamepad"]
	path = src/plugins/gamepad
	url = https://github.com/wiseman/webflight-gamepad/
