[submodule "ardrone-webflight"]
	path = ardrone-webflight
	url = https://github.com/eschnou/ardrone-webflight
[submodule "webflight-gamepad"]
	path = webflight-gamepad
	url = https://github.com/wiseman/webflight-gamepad/
